@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar{
    background-color: #fff;
    border-radius: 10px;
    height: 6px;
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: #7AC7FF;
    border-radius: 10px;
}
